/* input.form-control{color:white} */

label{
    /* color:white; */
    font-size: 18px;
}

::placeholder{color:grey;}

.sideBarNavItem:hover{
    color: black;
    background-color: grey;
    text-decoration: none;
}